In [43]:
import numpy as np
import pandas as pd
np.random.seed(1)

In [44]:
full_labels = pd.read_csv('rumex_labels.csv')

In [45]:
full_labels.head()

    filename  width  height  class  xmin  ymin  xmax  ymax
0  00001.jpg   1280     720      1   136    14   740   647
1  00006.jpg   1280     720      1    97     2   734   659
2  00011.jpg   1280     720      1   109    22   707   654
3  00016.jpg   1280     720      1    60    26   677   646
4  00021.jpg   1280     720      1    36    34   657   649

In [46]:
grouped = full_labels.groupby('filename')

In [47]:
grouped.apply(lambda x: len(x)).value_counts()

1    310
dtype: int64

### split each file into a group in a list

In [48]:
gb = full_labels.groupby('filename')

In [49]:
grouped_list = [gb.get_group(x) for x in gb.groups]

In [50]:
len(grouped_list)

310

In [51]:
train_index = np.random.choice(len(grouped_list), size=len(grouped_list*0.8, replace=False)
test_index = np.setdiff1d(list(range(200)), train_index)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
len(train_index), len(test_index)

In [ ]:
# take first 200 files
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

In [ ]:
len(train), len(test)

In [ ]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)